.user-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}